/* Reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Variables */
:root {
  --color1: #1f1738;
  --color2: #a5c8d8;
  --color3: #ffffff;
}

/* Estilos Generales */
body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--color3);
}

.btn,
a {
  cursor: pointer;
  font-size: 1rem;
  color: var(--color1);
}

/* NavBar */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: var(--color2);
}

.navbar-izq {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-izq .menu ul {
  display: flex;
  gap: 1.2rem;
}

.navbar-izq .menu ul li {
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.navbar-izq .menu ul li:hover {
  background-color: #eee;
}

.navbar-der {
  display: flex;
  gap: 1.2rem;
}

.navbar-der .btn {
  border: none;
  background-color: transparent;
}

.navbar-der .btn:first-child:hover::after {
  content: '';
  animation: borderTransition 0.3s normal forwards;
}

.navbar-der .btn:last-child {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1f1738;
}

.navbar-der .btn:last-child:hover {
  animation: backgroundTransition 1s normal forwards;
}

/* Header */
.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 20rem 3rem;
  z-index: 5;
  color: var(--color1);
  background-color: var(--color2);
}

.header .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  gap: 1.5rem;
}

.header .text h2 {
  font-size: 2.5rem;
}

.header .text p {
  font-size: 1.5rem;
}

.header .text .btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: var(--color3);
  background-color: var(--color1);
}

.header .text .btn:hover {
  animation: backgroundTransition 1s normal forwards;
}

.header .img {
  overflow: hidden;
  width: 600px;
  height: 400px;
  border-radius: 1rem;
}

.header .img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Main */
.main {
  position: relative;
  height: 100vh;
  border-top-left-radius: 95%;
  border-top-right-radius: 95%;
  transform: translate(0, -200px);
  z-index: 5;
  background-color: var(--color3);
}

/* Main Primer Contenedor */
.main .primerContenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 10rem 3rem;
  z-index: 5;
}

.main .primerContenedor h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.main .primerContenedor p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 1.5rem;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 3rem 0;
  padding: 2rem;
}

.main .cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eee;
}

.main .cards .card img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
}

.main .cards .card h3 {
  text-align: left;
  line-height: 1.5rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.main .cards .card p {
  text-align: left;
  line-height: 1.5rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.main .cards .card:hover h3::after {
  content: '';
  cursor: pointer;
  animation: borderTransition 0.3s normal forwards;
}

/* Segundo Contenedor */
.main .segundoContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 10rem 2rem;
}

.main .segundoContenedor h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.main .segundoContenedor p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 1.5rem;
}

.main .segundoContenedor .img {
  overflow: hidden;
  width: 600px;
  height: 400px;
  border-radius: 1rem;
  margin: 4rem 0;
}

.main .segundoContenedor .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main .segundoContenedor .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3rem 0;
  padding: 2rem;
}

.main .segundoContenedor .cards .card {
  background-color: transparent;
}

.main .segundoContenedor .cards .card h3 {
  line-height: 1.5rem;
  margin: 0;
}

.main .segundoContenedor .cards .card p {
  font-size: 1.2rem;
}

.main .segundoContenedor .cards .card:hover h3::after {
  animation: none;
}

/* Tercer Contenedor */
.main .tercerContenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  transform: translate(0, -200px);
  background: linear-gradient(to top, #ffffff, #a5c8d8);
}

.main .tercerContenedor .img {
  overflow: hidden;
  margin: 0 auto;
}

.main .tercerContenedor .img img {
  object-fit: cover;
}

.main .tercerContenedor .contenedor {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  padding: 15rem 2rem;
}

.main .tercerContenedor .contenedor h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.main .tercerContenedor .contenedor p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.main .tercerContenedor .contenedor .btn {
  cursor: pointer;
  border: none;
  width: 60%;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1f1738;
}

.main .tercerContenedor .contenedor .btn:hover {
  animation: backgroundTransition 0.3s normal forwards;
}

/* Cuarto Contenedor */
.main .cuartoContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.main .cuartoContenedor h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.main .cuartoContenedor p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 1.5rem;
}

.main .cuartoContenedor .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.main .cuartoContenedor .cards .card {
  background-color: transparent;
}

.main .cuartoContenedor .cards .card img {
  overflow: hidden;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Quinto Contenedor */
.main .quintoContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10rem;
  padding: 10rem 2rem;
}

.main .quintoContenedor .ultimoContenedor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.main .quintoContenedor .ultimoContenedor .izq h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.main .quintoContenedor .ultimoContenedor .izq p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.main .quintoContenedor .ultimoContenedor .der {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main .quintoContenedor .ultimoContenedor .der .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eee;
}

.main .quintoContenedor .ultimoContenedor .der .card h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.main .quintoContenedor .ultimoContenedor .der .card p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.main .quintoContenedor .preguntasFrecuentes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.main .quintoContenedor .preguntasFrecuentes h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.main .quintoContenedor .preguntasFrecuentes ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main .quintoContenedor .preguntasFrecuentes ul li a {
  cursor: pointer;
  font-size: 1.2rem;
  color: #000000;
}

/* Animaciones */
@keyframes backgroundTransition {
  0% {
    background: #1f1738;
  }

  100% {
    color: #000000;
    background: #eee;
  }
}

@keyframes borderTransition {
  0% {
    height: 2px;
    width: 0%;
  }

  100% {
    content: '';
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}