/* Reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos Generales */
body {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffffff;
}

.btn,
a {
  cursor: pointer;
  font-size: 0.9rem;
  color: #000000;
}

/* NavBar */
.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  z-index: 10;
  background-color: #a5c8d8;
}

.navbar-izq {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar-izq .menu ul {
  display: flex;
  gap: 1.2rem;
}

.navbar-izq .menu ul li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.navbar-izq .menu ul li:hover {
  background-color: #eee;
}

.navbar-der {
  display: flex;
  gap: 1.2rem;
}

.navbar-der .btn {
  border: none;
  background-color: transparent;
}

.navbar-der .btn:first-child:hover::after {
  content: '';
  animation: borderTransition 0.3s normal forwards;
}

.navbar-der .btn:last-child {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #1f1738;
}

.navbar-der .btn:last-child:hover {
  animation: backgroundTransition 1s normal forwards;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem 20rem 3rem;
  background-color: #a5c8d8;
  color: #1f1738;
}

.header .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  gap: 1.5rem;
}

.header .text h2 {
  font-size: 2.5rem;
}

.header .text p {
  font-size: 1.5rem;
}

.header .text .btn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  background-color: #1f1738;
}

.header .text .btn:hover {
  animation: backgroundTransition 1s normal forwards;
}

.header .img {
  overflow: hidden;
  width: 600px;
  height: 400px;
  border-radius: 1rem;
}

.header .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main */
.main {
  height: 100vh;
  border-top-left-radius: 95%;
  border-top-right-radius: 95%;
  transform: translate(0, -200px);
  background-color: #fff;
}

.main .primerContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 160px 20px;
}

.main .primerContenedor h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.main .primerContenedor p {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  font-size: 1.5rem;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 50px 0;
  padding: 20px;
}

.main .cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eee;
}

.main .cards .card img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
}

.main .cards .card h3 {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.main .cards .card p {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

.main .cards .card:hover h3::after {
  content: '';
  cursor: pointer;
  animation: borderTransition 0.3s normal forwards;
}

/* Animaciones */
@keyframes backgroundTransition {
  0% {
    background: #1f1738;
  }

  100% {
    color: #000000;
    background: #eee;
  }
}

@keyframes borderTransition {
  0% {
    height: 2px;
    width: 0%;
  }

  100% {
    content: '';
    display: flex;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }
}